html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
  margin:0 ;
}
html {
  height: 100%;
}
body {
  background-image: url(logo.svg), -webkit-linear-gradient(top left, #007d35 0%, #007d35 40%, #0f574e 100%);
  min-height: 100%;
  background-position: center 80px, center center;
  background-repeat:no-repeat;
  background-size: 400px, 100% 100%;
  display: flex;
  align-items: flex-end;
  
}
@media (min-width:768px) {
  body {
    align-items: center;
  }
}

#root {
  width: 100%;
}
.contenedor {
  display: flex;
  align-items: center;
  padding-top: 20rem;
  flex-direction: column;
}

.frase {
  padding: 3rem;
  border-radius: .5rem;
  background: linear-gradient(rgba(247, 251, 0, 0.281), rgba(41, 255, 3, 0.767)), url(./breaking-bad-980x570.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: width 600px;
  
}
.frase h1::before {
  content: open-quote;
  font-size:10rem;
  color: black;
  position: absolute;
  left: -1rem;
  top: -2rem;
}
.frase h1 {
  font-family: 'Staatliches', cursive;
  text-align:center;
  position: relative;
  padding-left: 4rem;
}
.frase p {
  font-family: 'Handlee', cursive;
  font-size: 1.6rem;
  color: rgb(0, 0, 0);
  text-align:right; 
  margin-top: 2rem;
}

button {
  background-color: #0f574e;

  background-size: 300px;
  
  font-family: 'Staatliches', cursive;
  color:rgb(253, 253, 253);
  margin-top: 3rem;
  padding: 1rem 3rem;
  font-size: 2rem;
  border: 3px solid black;
}
button:hover {
  background-color: #002a26;
  cursor:pointer;
  background-size:400px;
}